<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa điện thoại</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{/navbar.html}"></div>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1>Chỉnh sửa điện thoại</h1>
                <form th:method="post" th:action="@{/admin/product/edit/{id}(id=${phone.id})}" th:object="${phone}">
                    <label for="name">Tên điện thoại:</label>
                    <input type="text" id="name" name="name" th:field="*{name}" th:value="${phone.name}">
                    <br>
                    <label for="price">Giá:</label>
                    <input type="number" id="price" name="price" th:field="*{price}" th:value="${phone.price}">
                    <br>
                    <label for="description">Mô tả:</label>
                    <textarea id="description" name="description" th:field="*{description}" th:value="${phone.description}"></textarea>
                    <br>
                    <label for="brand">Hãng:</label>
                    <select id="brand" name="brand" th:field="*{brand}" th:value="${phone.brand.name}">
                        <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
                    </select>
                    <br>
                    <label for="color">Màu sắc:</label>
                    <input type="text" id="color" name="color" th:field="*{color}" th:value="${phone.color}">
                    <br>
                    <label for="cpu">CPU:</label>
                    <input type="text" id="cpu" name="cpu" th:field="*{cpu}" th:value="${phone.cpu}">
                    <br>
                    <label for="display">Màn hình:</label>
                    <input type="text" id="display" name="display" th:field="*{display}" th:value="${phone.display}">
                    <br>
                    <label for="camera">Máy ảnh:</label>
                    <input type="text" id="camera" name="camera" th:field="*{camera}" th:value="${phone.camera}">
                    <br>
                    <label for="batteryLife">Thời lượng pin:</label>
                    <input type="text" id="batteryLife" name="batteryLife" th:field="*{batteryLife}" th:value="${phone.batteryLife}">
                    <br>
                    <label for="os">Hệ điều hành:</label>
                    <input type="text" id="os" name="os" th:field="*{os}" th:value="${phone.os}">
                    <br>
                    <label for="memory">Bộ nhớ:</label>
                    <input type="text" id="memory" name="memory" th:field="*{memory}" th:value="${phone.memory}">
                    <br>
                    <label for="imageUrl">Đường link ảnh:</label>
                    <input type="text" id="imageUrl" name="imageUrl" th:field="*{imageUrl}" th:value="${phone.imageUrl}">
                    <br>
                    <input type="submit" value="Lưu">
                </form>
            </div>
        </div>
    </div>
</main>
<div th:insert="~{/footer.html}"></div>
</body>
</html>