<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/static/css/table.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{/navbar.html}"></div>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1>Đây là trang quản lý sản phẩm</h1>
                <h1>Danh sách Sản phẩm</h1>
                <table class="table table-bordered table-striped table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Hãng</th>
                            <th>Màu sắc</th>
                            <th>CPU</th>
                            <th>Màn hình</th>
                            <th>Máy ảnh</th>
                            <th>Thời lượng pin</th>
                            <th>Hệ điều hành</th>
                            <th>Bộ nhớ</th>
                            <th>Ảnh</th>
                            <th>Chỉnh sửa</th>
                            <th>Xoá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="phone : ${phones}">
                            <td th:text="${phone.id}"></td>
                            <td th:text="${phone.name}"></td>
                            <td th:text="${phone.price}"></td>
                            <td th:text="${phone.brand.name}"></td>
                            <td th:text="${phone.color}"></td>
                            <td th:text="${phone.cpu}"></td>
                            <td th:text="${phone.display}"></td>
                            <td th:text="${phone.camera}"></td>
                            <td th:text="${phone.batteryLife}"></td>
                            <td th:text="${phone.os}"></td>
                            <td th:text="${phone.getMemory}"></td>
                            <td th:text="${phone.imageUrl}"></td>
                            <td>
                                <a th:href="@{/admin/product/edit/{id}(id=${phone.id})}">
                                    <button class="btn btn-success">Chỉnh sửa</button>
                                </a>
                            </td>
                            <td>
                                <form th:action="@{/admin/product/delete/{id}(id=${phone.id})}" method="post">
                                    <button class="btn btn-danger" type="submit">Xóa</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form th:action="@{/admin/product/add}">
                    <button class="btn btn-success" type="submit">Thêm Điện thoại mới</button>
                </form>

                <h1>Danh sách Thương hiệu</h1>
                <table class="table table-bordered table-striped table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Tên thương hiệu</th>
                            <th>Chỉnh sửa</th>
                            <th>Xoá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="brand : ${brands}">
                            <td th:text="${brand.id}"></td>
                            <td th:text="${brand.name}"></td>
                            <td class="no-wrap">
                                <a data-bs-toggle="modal" data-bs-target="#editBrandModal"
                                    th:data-id="${brand.id}" th:data-name="${brand.name}">
                                    <button class="btn btn-success">Chỉnh sửa</button>
                                </a>
                            </td>
                            <td class="no-wrap">
                                <a data-bs-toggle="modal" data-bs-target="#deleteBrandModal"
                                    th:data-id="${brand.id}">
                                    <button class="btn btn-danger">Xóa</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addBrandModal">
                    Thêm Thương hiệu mới
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addBrandModal" tabindex="-1" aria-labelledby="addBrandModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBrandModalLabel">Thêm Thương hiệu mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/product/brand/add}" method="post">
                        <div class="mb-3">
                            <label for="brandName" class="form-label">Tên thương hiệu</label>
                            <input type="text" class="form-control" id="brandName" name="name">
                        </div>
                        <button type="submit" class="btn btn-primary">Thêm thương hiệu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editBrandModal" tabindex="-1" aria-labelledby="editBrandModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBrandModalLabel">Chỉnh sửa thông tin thương hiệu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:method="post" th:action="@{/admin/product/brand/edit}" th:object="${brand}">
                        <input type="hidden" class="form-control" id="editBrandId" name="id" th:field="*{id}">
                        <div class="mb-3">
                            <label for="editBrandName" class="form-label">Tên thương hiệu</label>
                            <input type="text" class="form-control" id="editBrandName" name="name" th:field="*{name}">
                        </div>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteBrandModal" tabindex="-1" aria-labelledby="deleteBrandModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteBrandModalLabel">Xác nhận xóa thương hiệu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa thương hiệu này không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <form th:action="@{/admin/product/brand/delete}" method="post">
                        <input type="hidden" name="id">
                        <button class="btn btn-danger" type="submit">Xóa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:insert="~{/footer.html}"></div>

<script>
    $(document).ready(function() {
        $('#editBrandModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var brandId = button.data('id');
            var brandName = button.data('name');

            var modal = $(this);
            modal.find('.modal-body #editBrandId').val(brandId);
            modal.find('.modal-body #editBrandName').val(brandName);
        });

        $(document).ready(function() {
            $('#deleteBrandModal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget);
                var brandId = button.data('id');

                var modal = $(this);
                modal.find('.modal-footer form input[name="id"]').val(brandId);
            });
        });
    });
</script>
</body>
</html>