<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:insert="~{/navbar.html}"></div>
<main class="container mt-4">
    <h1>Order Items</h1>
    <table class="table table-striped">
        <tr>
            <th>Order ID</th>
            <th>Order Item ID</th>
            <th>User ID</th>
            <th>User Email</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr th:each="item : ${orderItems}">
            <td th:text="${item.order.id}"></td>
            <td th:text="${item.id}"></td>
            <td th:text="${item.order.user.id}"></td>
            <td th:text="${item.order.user.email}"></td>
            <td th:text="${item.phone.id}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.price}"></td>
        </tr>
    </table>
    <p>Total: [[${totalAmount}]]</p>
</main>
<div th:insert="~{/footer.html}"></div>
</body>
</html>