
table th, table td {
    text-align: center;
    white-space: nowrap;
}

table {
    display: block;
    overflow: auto;
}

.sticky-col {
    right: 0;
    position: sticky;
    background-color: white;
    min-width: 100px;
}