<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{/navbar.html}"></div>
<main>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">



            <div th:object="${phone}">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img th:src="${phone.imageUrl}" class="img-fluid" alt="product_image">
                    </div>
                    <div class="col-md-6">
                        <h1>Chi tiết sản phẩm</h1>
                        <p><strong>Tên sản phẩm: </strong> <span th:text="*{name}"></span></p>
                        <p><strong>Thương hiệu: </strong> <span th:text="*{brand.name}"></span></p>
                        <p><strong>Mô tả: </strong> <span th:text="*{description}"></span></p>
                        <p><strong>Giá: </strong> <span th:text="*{price}"></span></p>
                        <div class="btn-group d-flex flex-column">
                            <form th:action="@{/cart/add/{id}(id=${phone.id})}" method="post" class="mb-auto">
                                <input type="hidden" name="productPage" value="true"/>
                                <div class="form-group">
                                    <label for="quantity">Số lượng</label>
                                    <input id="quantity" type="number" name="quantity" min="1" value="1" class="form-control" style="width: 100px;"/>
                                </div>
                                <button class="btn btn-success mt-2" type="submit">Thêm vào giỏ hàng</button>
                            </form>
                            <form method="post">
                                <button class="btn btn-success mt-2" type="submit">Mua ngay</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-6">
                        <!-- Khoảng trắng -->
                    </div>
                    <div class="col-md-6">
                        <h3>Thông số chi tiết</h3>
                        <p><strong>Màn hình: </strong> <span th:text="*{display}"></span></p>
                        <p><strong>Hệ điều hành: </strong> <span th:text="*{os}"></span></p>
                        <p><strong>Camera: </strong> <span th:text="*{camera}"></span></p>
                        <p><strong>CPU: </strong> <span th:text="*{cpu}"></span></p>
                        <p><strong>Bộ nhớ: </strong> <span th:text="*{memory}"></span></p>
                        <p><strong>Dung lượng Pin: </strong> <span th:text="*{batteryLife}"></span></p>
                    </div>
                </div>
            </div>
            <div th:object="${comments}">
                <h3>Đánh giá sản phẩm </h3>
                <form th:action="@{/product/comment/add/{id}(id=${phone.id})}" th:method="post">
                    <div class="mb-3">
                        <textarea class="form-control" id="content" name="content" rows="3" placeholder="Điền đánh giá của bạn về sản phẩm này"></textarea>
                    </div>
                    <button class="btn btn-success" type="submit">Gửi</button>
                </form>
                <table class="table" th:if="${not #lists.isEmpty(comments)}">
                    <h3>Các đánh giá về sản phẩm này</h3>
                    <tbody>
                    <tr th:each="comment : ${comments}">
                        <div style="display: flex; align-items: center;">
                            <b class="me-2" th:text="${comment.user.name}"></b>
                            <span class="me-2" th:text="${comment.dateCreated}"></span>
                            <span th:if="${user != null and comment != null}">
                                <form th:if="${#authorization.expression('hasRole(''ADMIN'')') or user.email == comment.user.email}" th:action="@{/product/{product_id}/comment/delete/{comment_id}(comment_id=${comment.id}, product_id=${phone.id})}" th:method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Xoá</button>
                                </form>
                            </span>
                        </div>
                        <span th:text="${comment.content}"></span>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</main>
<div th:insert="~{/footer.html}"></div>
</body>
</html>
